body{
    background: linear-gradient(to bottom,#d5398e,#ad2979,#7f034e,#370322,#060104)
   

}
div.a{
    text-align: center;
}
h1{
    font-size: 400%;
    color: #670a4b;
    font-style: italic;
}
p{
    image-orientation: left;
    image-resolution: right;
}

div.li{
    color: #ec3098;
    font-size: 200%;
    text-align: center;
}
h2{
    font-size: 300%;
    color: #ee2e98;
    text-align: center;
}
div.contenedor{
    display: flex;
    justify-content: center;
}
.imag1{
    margin-right: 20px;
    
}
h3{
    font-size: 300%;
    color: #ff5bb5;
    text-align: center;
}
h4{
    font-size: 300%;
    color: #ff5bb5;
    text-align: center;  
}
h5{
    font-size: 300%;
    color: #ff5bb5;
    text-align: center;  
}
div.A{
    color: #e61e8c;
    font-size: 300%;
    text-align: center;
}
a.boton{
font-size: 200px;

}


